[Unit]
Description=Redis persistent key-value database
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
User=redis
LimitNOFILE=500000
ExecStart=/usr/bin/redis-server /usr/share/defaults/etc/redis.conf
ExecStop=/usr/bin/redis-cli shutdown

[Install]
WantedBy=multi-user.target
